<!DOCTYPE html>
<html>
  <head>
    <title>微信公众号授权</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>微信公众号授权</h1>
    <a href='<%= url %>'>我要授权</a>
  </body>
</html>
